@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Raleway:wght@300;400;700&display=swap');


:root{
    --background: linear-gradient(136deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-secundary:#764ba2;
    --bottom-padding: 20px 40px;

}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtittle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
    
}

.hero{
    height: 100vh;
    background: var(--background), url("../assets/img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
    border: 1px, solid, #fff;

}

.nav__items--footer{
    padding: 10px;
}

.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;

}

.hero__text{
    width: 80%;
    margin-bottom: 50px;
}

.hero__tittle{
    font-size: 3.2rem;
}

.hero__subtittle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px;

}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

}

/*about*/
.presentation{
    padding: 0;
    text-align: center;

}

.presentation__picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    
}

.presentation__copy{
    width: 80%;
    margin: 0 auto;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 80%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/*footer*/

.footer{
    background: var(--color-secundary);
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__tittle{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    
}

.fa-brands.footer__icon{
    line-height: 60px;
    
}

/* registrar dueño*/

.Registros {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("..//assets/img5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.inicio {
    display: flex;
    align-items: center;
    text-align: center;
}

.principal {
    padding: 1rem;
}

.principal h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.principal button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.principal button:hover {
    background-color: #6464f8;
}

.sign-in-btn{
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(51, 51, 51, 0.602);
    text-align: center;
}

.formulario__tittle {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border__icons {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border__icons:hover {
    background-color: #4a4aee;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

/*registro mascota*/

.Registros__mascota{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("..//assets/img6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}

/*registro veterinario*/

.Registros__veterinario{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("..//assets/img7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}

/*registro visita*/

.Registros__visita{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("..//assets/img8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}

.fondo{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}











