@page
@model MascotaFeliz.App.FrontEnd.Pages.EditarVeterinariosModel
@{
    int veterinarioId=Model.veterinario.Id;
}
<div id="cabecera">
    <h1>Registro/Edición de Veterinarios</h1>
    <h3>Ingrese los datos de los Veterinarios</h3>
  </div>
  <form method="post">
    <div class="form-group">
        <input type="hidden" asp-for = "veterinario.Id"/>
        <label asp-for="veterinario.Nombres"></label>
        <input asp-for="veterinario.Nombres" class="form-control"/>
        <label asp-for="veterinario.Apellidos"></label>
        <input asp-for="veterinario.Apellidos" class="form-control"/>
        <label asp-for="veterinario.Direccion"></label>
        <input asp-for="veterinario.Direccion" class="form-control"/>
        <label asp-for="veterinario.Telefono"></label>
        <input asp-for="veterinario.Telefono" class="form-control"/>
        <label asp-for="veterinario.TarjetaProfesional"></label>
        <input asp-for="veterinario.TarjetaProfesional" class="form-control"/>
        <p></p>
        <h3>Presione para guardar el registro</h3>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>

<div><a asp-page="./ListaVeterinarios" class="btn-default">Lista Veterinario</a></div>

